/* &display=swap&subset=cyrillic-ext */

/* ОБНУЛЕНИЕ СТИЛЕЙ */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.block{
	background-color: #ce2424;
}

.inline{
	background-color: #0f45f7;
}

h1{
	text-align: center;
	color:#5f33a5;
}

.block{
	outline: 6px dotted #f00707;
	color: #ffffff;
	margin: 10px 10px;
	padding: 10px 10px;
	border: 3px solid #0f45f7;
}

.block_two{
	background-color: #05143f;
	margin: 0px 0px 10px 0px;
	border: 10px dotted #c8dd0e;
}

.text{
	text-align: center;
	color:#ce2449;
	border-bottom: 2px dashed #ce2424;
	margin: 0px 510px 10px 510px;
}

.link{
	display: inline-block;
	background-color: #157e78;
	border: 3px dotted #0a0a0a;
	margin: 0px 0px 10px 0px;
}

.block_three{
	margin: 0px 0px 10px 0px;
	text-align: center;
}

.block_four{
	color:#f5deb3;
	margin: 0px 0px 10px 400px;
	max-height: 200px;
	max-width: 300px;
	background-color: #086a88;
	border-bottom: 3px dashed #0a0a0a;
	border-left: 6px double #c8dd0e;
	border-top: 7px dotted #5f33a5;
	border-right: 8px solid rgba(187, 13, 13, 0.452);
	overflow: auto;
}

.block_five{
	background-color: #ee0707;
	color:#ffffff;
	margin-bottom: 10px;
	max-height: 100px;
	max-width: 100px;
	text-align: center;
	margin-left: 25px;
	margin-top: 25px;
	overflow: hidden;
	padding: 15px;
	border-radius: 100% 0% 49% 51% / 100% 50% 50% 0%;
	outline: 4px dotted #068c9d;
}

.shadow{
	text-align: center;
	margin-left: 800px;
	max-width: 200px;
	max-height: 200px;
	background-color: #2e07dbd7;
	border-radius: 50% 50% 49% 51% / 47% 50% 50% 53%;
	overflow: hidden;
	padding: 30px;
	outline: 5px double #e91607;
	margin-bottom: 10px;
	box-shadow: 20px 3px 5px 5px #e61008, -20px 3px 5px 5px #6edd05;
}

.domashka{
	text-align: center;
}

.homework_one{
	margin-bottom: 10px;
	background-color:#ce2449;
	width: 200px;
	height: 200px;
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	text-align: center;
	padding: 15px;
	overflow: hidden;
}

.paragraph{
	opacity: 50%;
	background-color: #857878;
}

.homework_three{
	display: inline-block;
	border: 2px solid #e4048e;
	color:#64e90c;
}

.homework_four{
	color:#2b1bbe;
	margin: 0px 0px 10px 400px;
	max-height: 200px;
	max-width: 300px;
	background-color: #086a88;
	border-bottom: 3px dashed #0a0a0a;
	border-left: 6px double #c8dd0e;
	border-top: 7px dotted #e61405;
	border-right: 8px solid rgba(187, 13, 13, 0.452);
	overflow: hidden;
}

.ssilka{
	color:#2e3d24;
	display: inline-block;
	max-width: 50px;
	max-height: 50px;
	margin-left: 550px;
	background-color:#64e90c;
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	box-shadow: 10px 10px 10px 10px #64e90c;
}