/*&display=swap&subset=cyrillic-ext*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Syne+Tactile&display=swap&display=swap&subset=cyrillic-ext');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.block_one{
    background-color: #8218e6;
    font-size: 50px;
    padding: 10px 20px;
    margin: 20px 70px 10px 70px;
    color: #f5f5f5;
}

.block_two{
    background-color: #87ac9e;
    font-size: 50px;
    padding: 20px 10px;
    color: #e60e0e;
	margin: 0px 0px 10px 0px;
}

.block_three{
	background-color: #be2323;
	font-size: 35px;
	color:#373837;
	text-shadow: 2px 3px 3px #e5ff00;
	padding: 20px 30px;
	width: 500px;
	margin: 0px 0px 10px auto;
}

.block_four{
	background-color: #200c79;
	color:#f0f8ff;
	max-width: 800px;
	margin: 0px auto 10px;
	font-size: 30px;
	font-family: 'Fredoka One', cursive;
	font-family: 'Syne Tactile', cursive;
}
.block_five{
	background-color: #c9f600;
	font-size: 34px;
	color: #0004f5;
	overflow: auto;
	max-height: 200px;
	margin: 0px -10px;
}

.inline{
	font-size: 30px;
	background-color: #6d5401;
}

.image{
	display: block;
	width: 400px;
	height: 350px;
	padding: 10px;
	background-color:#000000;
	margin: 0px auto;
}

.link{
	color: red;
	font-size: 40px
}

.text{
	font-size: 25px;
	color:#af00f5;
	text-decoration: underline;
}

.domashka{
	font-size: 35px;
	text-align: center;
	color: #ff0000;
}

.homework{
	display: block;
}

.zadacha_one{
	font-size: 25px;
	text-align: center;
}

.zadacha_two{
	font-size: 25px;
	text-align: center;
}

.domashka_two{
	display: inline-block;
	background-color: #e4910b;
	max-width: 200px;
	max-height: 200px;
	padding: 15px 15px;
}

.zadacha_three{
	font-size: 25px;
	text-align: center;
}

.domashka_three{
	background-color: #0fc34b;
	margin: 0px 0px 30px 0px;
	font-size: 25px;
	display: inline-block;
}

.zadacha_four{
	font-size: 25px;
	text-align: center;	
}

.test{
	margin: 0px 0px 10px 0px;
}

.domashka_four{
	color:#f10101;
	background-color: #07c4f3;
	display: inline-block;
	max-width: 100px;
	margin: 0px 0px 0px 30px;
	padding: 10px 10px;
}

.zadacha_five{
	font-size: 25px;
	text-align: center;
}

.domashka_five_one{
	background-color: #d5eb13;
	font-size: 30px;
	padding: 30px 30px;
}

.domashka_five_two{
	background-color: #0d57ac;
	font-size: 30px;
	padding: 30px 30px;
	margin: -80px 0px 0px 0px;
}

.zadacha_six{
	font-size: 25px;
	text-align: center;
}

.domashka_six{
	color:#07c4f3;
	display: block;
	background-color: #af0de0;
	font-size: 25px;
	max-height: 200px;
	overflow: auto;
	padding: 30px;
}